<!DOCTYPE html>
<html lang="en">
  <body>
    <h1>upload image</h1>
    <form method="post" action="/upload" enctype="multipart/form-data">
      <input type="text" placeholder="enter name" />
      <input type="email" placeholder="enter email" />
      <input type="password" placeholder="enter password" />
      <input type="file" name="images" />
      <input type="submit" />
    </form>
  </body>
</html>
